.post {
  width: 385px;
  margin: 0px 25px 40px 25px;
  display: flex;
  flex-direction: column;
}

.postImg {
  width: 385px;
  height: 240px;
  object-fit: cover;
  border-radius: 7px;
  position:static;
}

